### IntelliJ
.idea
*.iml

# VS Code 
.history
.vscode

# Éles .env ne kerüljön fel!
#.env
.env.prod

### Composer
composer.phar
composer.lock
vendor/

### Node
node_modules

### Docker
ntunnel-*.php

### Wordpress

# db dump-ot ne
src/data/*
!src/data/rewrite-domainname.sql

src/web/wp-config.php
src/web/*
!src/web/wp-content

# a saját témád/pluginod menjen fel git-re (ami nem telepíthető Composer-rel)
src/web/wp-content/themes/*
!src/web/wp-content/themes/bootcommerce-5-child
!src/web/wp-content/themes/bootscore-5
src/web/wp-content/plugins/*
!src/web/wp-content/plugins/bs5*
!src/web/wp-content/plugins/reactwp-blocks
!src/web/wp-content/plugins/vuecommerce
!src/web/wp-content/plugins/custom-taxonomy-image

# csak a mappák legyenek meg, tartalom nélkül
src/web/wp-content/backups-dup-lite/*
src/web/wp-content/cache/*
src/web/wp-content/languages/*
src/web/wp-content/upgrade/*

src/web/wp-content/uploads/wc-logs/
src/web/wp-content/uploads/2021/09/wp_dummy_content_generator*

# ez a wordfence log-okat tartalmazza
src/web/wp-content/wflogs/*

src/web/wp-content/debug.log