### IntelliJ
.idea
*.iml

# Éles .env ne kerüljön fel!
#.env
.env.prod

### Composer
composer.phar
composer.lock
vendor/

### Node
node_modules

### Docker
ntunnel-*.php

### Wordpress

# db dump-ot ne
src/data/*
!src/data/rewrite-domainname.sql

src/web/wp-config.php
src/web/*
!src/web/wp-content

# a saját témád/pluginod menjen fel git-re (ami nem telepíthető Composer-rel)
src/web/wp-content/themes/*
!src/web/wp-content/themes/bootcommerce-5-child
!src/web/wp-content/themes/bootscore-5
src/web/wp-content/plugins/*
!src/web/wp-content/plugins/bs5*
!src/web/wp-content/plugins/reactwp-blocks

# csak a mappák legyenek meg, tartalom nélkül
src/web/wp-content/backups-dup-lite/*
src/web/wp-content/cache/*
src/web/wp-content/languages/*
src/web/wp-content/upgrade/*

src/web/wp-content/uploads/wc-logs/

# ez a wordfence log-okat tartalmazza
src/web/wp-content/wflogs/*

src/web/wp-content/debug.log